<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    <%= mainTitle %>
  </title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><%= mainTitle %></h1>
        <p class="lead text-muted"><%= mainDescription %></p>
        <p>
          <a href="/ads" class="btn btn-primary my-2">WEB</a>
          <a href="/apiv1/ads" class="btn btn-secondary my-2">API</a>
        </p>
      </div>
    </section>
  </main>
</body>
</html>
